.popup__form-submit-button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  height: 50px;
}
