.page__wrapper {
  background: var(--main-bg-color);
  margin: 0 auto;
  max-width: 1280px;
  padding: 28px 19px 60px 19px;
}

@media (min-width: 465px) {
  .page__wrapper {
    padding: 30px 120px 40px 120px;
  }
}

@media (min-width: 768px) {
  .page__wrapper {
    padding: 32px 150px 60px 150px;
  }
}

@media (min-width: 1024px) {
  .page__wrapper {
    padding: 45px 200px 60px 200px;
  }
}
